body {
    background-color: rgba(112, 4, 126, 0.397);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    text-align: center;
}

h1 {
    color: rgba(4, 81, 197, 0.568);
}

h3 {
    color: rgba(0, 0, 0, 0.726);
}


a {
    transition: all .23s;
    color: rgb(42, 109, 255);
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button.hidden, button.undercover{
    transition: color .25s;
    color:rgb(255, 0, 0);
    text-decoration: none;
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}

button.hidden:hover, button.undercover:hover{
    transition: color .25s;
    color: aqua;
    cursor: help;
}

button.hidden:active {
    display: block;
}


a:hover {
    transition: all .23s;
    color: rgb(255, 74, 28);
    font-size: larger;
}

video.hidden {
    display: none;
    opacity: 0;
    transition: all 1s;
}

video.visible {
    display: block;
    opacity: 1;
    transition: all 1s;
    align-content: center;
    width: 100%;
    height: 45em;
}

footer {
    font-size: large;
    font-weight: 200;
    color: rgb(0, 132, 255);
}

.ref {
    font-size: x-small;
    color: brown;
    font-weight: bolder;
}

.page {
    font-size: large;
    font-weight: lighter;
}

.owo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nav {
    font-size: larger;
    text-align: center;
    color: pink;
}

.song {
    border: 2px solid black;
    position: relative;
    overflow: scroll;
    min-width: 600px;
    max-width: fit-content;
    height: auto;
}

.song h2,h4{
    text-align: center;
}

.song img{
    max-width: 50%;
    height: auto;
}

.song audio{
    width: 50%;
}

.lyrics {
    margin-left: 5%;
    position: absolute;
    max-width: 290px;
    min-width: 80px;
    left: 20em;
    top: 8em;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(139, 255, 255);
}


.info {
    background-color: rgb(255, 143, 143);
    max-width: 340px;
    min-width: 3px;
    max-height: auto;
    min-height: 10px;
    flex-wrap: wrap;
    font-size: small;
}

.btn {
    transition: all .25s;
    background-color: rgb(255, 94, 0);
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
    position: relative;
    left: 15%;
}


.center {
    text-align: center;
}

.big {
    font-size: large;
}

.nomar {
    margin: 0%;
}

.meow {
    background-color: rgb(244, 148, 255);
}

.div-cen {
    margin: auto;
}

.product {
    
}


.btn:hover {
    transition: all .25s;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}


.omggg:hover{
    transition: all .23s;
    font-size: larger;
}
